@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web";
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phiolet-section {
  background: #87509c;
  width: 100%;
}

.phiolet-section__container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 57px 10px 120px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .phiolet-section__container {
    padding: 57px 40px 120px 40px;
  }
}

@media screen and (max-width: 767px) {
  .phiolet-section__container {
    padding: 20px 40px 50px 40px;
  }
}

.phiolet-section__main {
  padding: 145px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phiolet-section__description {
  font-size: 42.2px;
  line-height: 48px;
  font-weight: 700;
  color: #f7f3ea;
  text-align: center;
  max-width: 850px;
}

@media screen and (max-width: 1024px) {
  .phiolet-section__description {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .phiolet-section__description {
    line-height: 35px;
    font-size: 24px;
  }
}

@media screen and (max-width: 615px) {
  .phiolet-section__description {
    font-size: 20px;
    line-height: 28px;
  }
}

.phiolet-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .phiolet-section__button {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.green-section {
  width: 100%;
  background: #17c2a4;
}

.green-section__container {
  margin: 0 auto;
  padding: 120px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .green-section__container {
    padding: 50px 40px 0px 40px;
  }
}

@media (max-width: 560px) {
  .green-section__container {
    padding: 50px 20px 0px 20px;
  }
}

@media screen and (max-width: 500px) {
  .green-section__container {
    padding: 50px 20px 0px 20px;
  }
}

.green-section__caption {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-section__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .green-section__services {
    padding-top: 60px;
  }
}

.green-section__services div {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .green-section__services div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  .green-section__services div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 1024px) {
  .green-section__services > div {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .green-section__services > div {
    margin-bottom: 60px;
  }
}

.green-section__services div:not(:last-child) {
  margin-right: 90px;
}

@media (max-width: 1200px) {
  .green-section__services div:not(:last-child) {
    margin-right: 45px;
  }
}

@media (max-width: 1024px) {
  .green-section__services div:not(:last-child) {
    margin-right: 0;
  }
}

.green-section__logo {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(130px + 40px);
}

.green-section__logo img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 130px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.green-section__title {
  padding-top: 25px;
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 500px) {
  .green-section__title {
    padding-top: 0px;
  }
}

.green-section__text {
  padding-top: 27px;
  text-align: center;
  font-family: 'Titillium Web';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.grey-section {
  width: 100%;
  background: #e7f1f8;
}

.grey-section__container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 120px 40px 125px 40px;
}

@media (max-width: 1024px) {
  .grey-section__container {
    padding: 120px 40px 40px 40px;
  }
}

@media (max-width: 767px) {
  .grey-section__container {
    padding: 40px 40px 0 40px;
  }
}

@media (max-width: 680px) {
  .grey-section__container {
    padding: 40px 0 0px 0;
  }
}

.grey-section__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.grey-section__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

@media (max-width: 1024px) {
  .grey-section__team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.grey-section__team > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

@media (max-width: 1024px) {
  .grey-section__team > div {
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .grey-section__team > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.grey-section__team > div:not(:last-child) {
  margin-right: 80px;
}

@media (max-width: 1200px) {
  .grey-section__team > div:not(:last-child) {
    margin-right: 45px;
  }
}

@media (max-width: 1024px) {
  .grey-section__team > div:not(:last-child) {
    margin-right: 0;
  }
}

.grey-section__logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #878787;
  margin-bottom: 40px;
}

.grey-section__name {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #27283d;
  margin-bottom: 15px;
}

.grey-section__profession {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #30bae7;
  margin-bottom: 27px;
}

.grey-section__description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #3c4761;
  max-width: 200px;
}

.white-section {
  width: 100%;
  background: #FFF;
}

.white-section__container {
  padding: 120px 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .white-section__container {
    padding: 120px 0px;
  }
}

@media (max-width: 1024px) {
  .white-section__container {
    padding: 120px 40px 50px 40px;
  }
}

@media (max-width: 767px) {
  .white-section__container {
    padding: 40px 20px 0 20px;
  }
}

@media (max-width: 500px) {
  .white-section__container {
    padding: 40px 20px 30px 20px;
  }
}

.white-section__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white-section__caption > .caption__subtitle {
  max-width: 650px;
}

.white-section__progress {
  padding: 84px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
}

@media (max-width: 1024px) {
  .white-section__progress {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0 0 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.white-section__progress > div {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .white-section__progress > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 50px !important;
  }
}

@media (max-width: 662px) {
  .white-section__progress > div {
    margin: 50px !important;
  }
}

@media (max-width: 600px) {
  .white-section__progress > div {
    margin: 50px 25px 50px 25px !important;
  }
}

@media (max-width: 500px) {
  .white-section__progress > div {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
    margin: 25px !important;
  }
}

.white-section__progress > div:not(:last-child) {
  margin-right: 120px;
}

@media (max-width: 1200px) {
  .white-section__progress > div:not(:last-child) {
    margin-right: 45px;
  }
}

.white-section__progress-circle {
  position: relative;
  width: 160px;
  height: 160px;
  background: #dfe8ed;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-section__progress-circle:before {
  content: '';
  position: absolute;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #FFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.white-section__progress-circle:after {
  content: '';
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
}

.white-section__web-design > .white-section__progress-circle:after {
  background: conic-gradient(#30bae7 calc((90*360/100)*1deg), #dfe8ed 0deg);
}

.white-section__html-css > .white-section__progress-circle:after {
  background: conic-gradient(#d74680 calc((75*360/100)*1deg), #dfe8ed 0deg);
}

.white-section__graphic-design > .white-section__progress-circle:after {
  background: conic-gradient(#15c7a8 calc((70*360/100)*1deg), #dfe8ed 0deg);
}

.white-section__ui-ux > .white-section__progress-circle:after {
  background: conic-gradient(#eb7d4b calc((85*360/100)*1deg), #dfe8ed 0deg);
}

.white-section__percent {
  z-index: 2;
  margin-left: 10px;
}

.white-section__percent > span:nth-child(1) {
  font-family: 'Titillium Web';
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #3c4761;
}

.white-section__percent > span:nth-child(2) {
  color: #3c4761;
  font-size: 32px;
}

.white-section__progress-title {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
  margin-top: 32px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .white-section__progress-title {
    white-space: wrap;
  }
}

.gold-section {
  width: 100%;
  background: #ffdd99;
}

.gold-section__container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 120px 20px 110px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .gold-section__container {
    padding: 40px 20px;
  }
}

.gold-section__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold-section .caption__subtitle {
  max-width: 560px;
}

.gold-section__categories {
  margin: 40px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 420px;
}

.gold-section__list > li:not(:last-child) {
  margin-right: 10px;
}

.gold-section__link {
  padding: 8px 27px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #393939;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
}

@media (max-width: 500px) {
  .gold-section__link {
    padding: 8px 20px;
    font-size: 16px;
  }
}

.gold-section__link:hover {
  background: #FFF;
}

.gold-section__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1142px;
}

.gold-section__works > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50%-20px);
          flex: 1 1 calc(50%-20px);
  margin-bottom: 60px;
}

@media (max-width: 1150px) {
  .gold-section__works > div {
    max-width: 450px;
  }
}

@media (max-width: 960px) {
  .gold-section__works > div {
    max-width: none;
    margin: 40px 0 0 0 !important;
  }
}

@media (max-width: 960px) {
  .gold-section__works > div:first-child {
    margin: 0px !important;
  }
}

.gold-section__works > div:nth-child(odd) {
  margin-right: 20px;
}

@media (max-width: 960px) {
  .gold-section__works > div:last-child {
    margin-bottom: 40px !important;
  }
}

.gold-section__works > div > div {
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .gold-section__works > div > div {
    margin-bottom: 5px;
  }
}

.gold-section__works > div > div > img {
  width: 100%;
}

.gold-section__work-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #393939;
  text-align: center;
}

.gold-section__button {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pink-section {
  width: 100%;
  background: #d74680;
}

.pink-section__container {
  padding: 120px 0px;
  max-width: 1105px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .pink-section__container {
    max-width: none;
    padding: 120px 40px;
  }
}

@media (max-width: 767px) {
  .pink-section__container {
    padding: 40px 20px 0px 20px;
  }
}

.pink-section__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .pink-section__caption {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .pink-section__caption > .caption__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pink-section__caption > .caption__title > span:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .pink-section__caption > .caption__title > span:nth-child(1) {
    margin-bottom: 0px;
  }
}

.pink-section__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pink-section__review-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .pink-section__review-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pink-section__review-container:nth-child(1), .pink-section__review-container:nth-child(2) {
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .pink-section__review-container:nth-child(1), .pink-section__review-container:nth-child(2) {
    margin-bottom: 0;
  }
}

.pink-section__logo {
  min-width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #787878;
  margin-right: 45px;
}

@media (max-width: 1024px) {
  .pink-section__logo {
    margin-right: 0;
    margin-bottom: 20px;
    min-width: 150px;
    height: 150px;
  }
}

.pink-section__text {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  .pink-section__text {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .pink-section__text {
    max-width: 600px;
  }
}

.pink-section__comment {
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .pink-section__comment {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    margin: 10px 0 50px 0;
  }
}

.pink-section__name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .pink-section__name {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
}

.pink-section__speciality {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffdd99;
}

@media (max-width: 1024px) {
  .pink-section__speciality {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }
}

.blue-section {
  width: 100%;
  background: #3c5499;
}

.blue-section__container {
  max-width: 870px;
  margin: 0 auto;
  padding: 120px 0;
}

.blue-section__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.blue-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue-section__form > form {
  width: 100%;
}

.blue-section__name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.blue-section__name-and-email > label {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.blue-section__name-and-email > label > input {
  width: 100%;
  height: 56px;
  outline: none;
  font-size: 18px;
  padding: 0 25px 0 25px;
  background: #273a71;
  border: none;
  border-radius: 5px;
  color: #FFF;
}

.blue-section__name-and-email > label > input:invalid + .blue-section__input-text {
  display: inline;
  color: rgba(255, 255, 255, 0.734);
}

.blue-section__name-and-email > label:first-child {
  margin-right: 30px;
}

.blue-section__input-text {
  z-index: 10;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: text;
  position: absolute;
  width: 100%;
  display: none;
  color: #FFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.blue-section__input-text > span {
  font-family: Arial;
  font-size: 16px;
  color: #ff4444;
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  width: 118px;
  height: auto;
}

.button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  padding: 25px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 615px) {
  .button {
    padding: 25px 35px;
    font-size: 16px;
  }
}

._orange {
  background: #eb7d4b;
  border-radius: 5px;
  border-bottom: 5px solid #c86a40;
}

._green {
  background: #17c2a4;
  border-radius: 5px;
  border-bottom: 5px solid #14a58c;
}

.caption__title {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 21px;
  text-align: center;
}

@media (max-width: 675px) {
  .caption__title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .caption__title {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .caption__title {
    font-size: 24px;
  }
}

.caption__line {
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
}

.caption__subtitle {
  padding: 17px 20px 0 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

._black {
  color: #3c4761;
}

._black-line {
  background: #bdd1df;
  opacity: 0.74;
}

._gold-line {
  background-color: #e5c37f;
  opacity: 1;
}

._pink-line {
  background-color: #b93c6e;
  opacity: 1;
}

._blue-line {
  background: #273a71;
  opacity: 1;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.social > a {
  display: block;
  width: 32px;
  height: 32px;
  background: #bdd1df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
}

.social > a:hover {
  background: #FFF;
}

.social > a:hover > i {
  color: #bdd1df;
}

.social > a > i {
  font-size: 16px;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.social > a:not(:last-child) {
  margin-right: 10px;
}

.menu__icon {
  display: none;
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 45px;
    height: 32.5px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 0;
    height: 20%;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background: #FFF;
    border-radius: 20px;
  }
  .menu__icon::before, .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .menu__icon._active::before {
    top: 12.5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__icon::after {
    bottom: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .menu__icon._active::after {
    bottom: 12.5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    top: 12.5px;
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
}

.menu__list li:not(:last-child) {
  margin-right: 10px;
}

.menu__list li a {
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__list li a:hover {
  background: #643a79;
}

@media (max-width: 767px) {
  .menu__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 18.5px;
  }
}

@media (max-width: 767px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .menu__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: rgba(34, 0, 44, 0.95);
    padding: 30px 30px 30px 30px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    top: 0;
    z-index: 4;
  }
}
