@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300,300italic,regular,italic,600,600italic,700,700italic,900);

$container-width: 1100px;
$orange-color-btn: #eb7d4b;
$green-color-btn: #17c2a4;
$blue-color-btn: #30bae7;
$font: 'Titillium Web';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: $font;

}

div {
   box-sizing: border-box;
}

ul {
   li {
      list-style: none;
      text-transform: uppercase;
   }
}

a {
   text-decoration: none;
   color: #fff;
}

body._lock {
   overflow: hidden;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

//* --------------------- ФИОЛЕТОВАЯ СЕКЦИЯ ----------------------
.phiolet-section {
   background: #87509c;
   width: 100%;

   &__container {
      margin: 0 auto;
      max-width: 1100px;
      padding: 57px 10px 120px 43px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1200px) {
         padding: 57px 40px 120px 40px;
      }

      @media screen and (max-width: 767px) {
         padding: 20px 40px 50px 40px;
      }
   }

   &__main {
      padding: 145px 0 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__description {
      font-size: 42.2px;
      line-height: 48px;
      font-weight: 700;
      color: #f7f3ea;
      text-align: center;
      max-width: 850px;

      @media screen and (max-width: 1024px) {
         font-size: 30px;
      }

      @media screen and (max-width: 767px) {
         line-height: 35px;
         font-size: 24px;
      }

      @media screen and (max-width: 615px) {
         font-size: 20px;
         line-height: 28px;
      }
   }

   &__button {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 767px) {
         height: 100%;
         align-items: center;
      }
   }


}

//* ----------------------- ЗЕЛЕНАЯ СЕКЦИЯ -----------------------
.green-section {
   width: 100%;
   background: #17c2a4;

   &__container {
      margin: 0 auto;
      // max-width: 1100px;
      padding: 120px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 767px) {
         padding: 50px 40px 0px 40px;
      }

      @media (max-width: 560px) {
         padding: 50px 20px 0px 20px;
      }

      @media screen and (max-width: 500px) {
         padding: 50px 20px 0px 20px;
      }
   }

   &__caption {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__services {
      display: flex;
      padding-top: 80px;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;
      align-items: center;

      @media screen and (max-width: 1024px) {
         padding-top: 60px;
      }

      div {
         width: 200px;
         display: flex;
         flex-direction: column;

         @media (max-width: 1024px) {
            flex: 0 1 50%;
            align-items: center;
         }

         @media (max-width: 500px) {
            flex: 0 1 100%;
         }
      }

      >div {
         @media (max-width: 1024px) {
            margin-bottom: 40px;
         }

         @media (max-width: 500px) {
            margin-bottom: 60px;
         }
      }

      div:not(:last-child) {
         margin-right: 90px;

         @media (max-width: 1200px) {
            margin-right: 45px;
         }

         @media (max-width: 1024px) {
            margin-right: 0;
         }
      }
   }

   &__logo {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: calc(130px + 40px);

      img {
         position: absolute;
         top: 0;
         left: 50%;
         height: 130px;
         transform: translate(-50%, 0);
      }
   }

   &__title {
      padding-top: 25px;
      text-align: center;
      font-size: 24px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #ffffff;

      @media (max-width: 500px) {
         padding-top: 0px;
      }
   }

   &__text {
      padding-top: 27px;
      text-align: center;
      font-family: 'Titillium Web';
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.02em;
      color: #ffffff;
   }

}

//* ------------------------ СЕРАЯ СЕКЦИЯ ------------------------
.grey-section {
   width: 100%;
   background: #e7f1f8;

   &__container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 120px 40px 125px 40px;

      @media (max-width: 1024px) {
         padding: 120px 40px 40px 40px;
      }

      @media (max-width: 767px) {
         padding: 40px 40px 0 40px;
      }

      @media (max-width: 680px) {
         padding: 40px 0 0px 0;
      }
   }

   &__caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
   }

   &__team {
      display: flex;
      justify-content: center;
      flex-wrap: no-wrap;

      @media (max-width: 1024px) {
         flex-wrap: wrap;
      }

      >div {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 200px;

         @media (max-width: 1024px) {
            align-items: space-between;
            flex: 1 1 50%;
            margin-bottom: 50px;
         }

         @media (max-width: 500px) {
            flex: 0 1 100%;
         }
      }

      >div:not(:last-child) {
         margin-right: 80px;

         @media (max-width: 1200px) {
            margin-right: 45px;
         }

         @media (max-width: 1024px) {
            margin-right: 0;
         }
      }
   }

   &__logo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: #878787;
      margin-bottom: 40px;
   }

   &__name {
      font-size: 24px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #27283d;
      margin-bottom: 15px;
   }

   &__profession {
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #30bae7;
      margin-bottom: 27px;
   }

   &__description {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.02em;
      color: #3c4761;
      max-width: 200px;
   }
}

//* ------------------------ БЕЛАЯ СЕКЦИЯ ------------------------
.white-section {
   width: 100%;
   background: #FFF;

   &__container {
      padding: 120px 220px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1200px) {
         padding: 120px 0px;
      }

      @media (max-width: 1024px) {
         padding: 120px 40px 50px 40px;
      }

      @media(max-width: 767px) {
         padding: 40px 20px 0 20px;
      }

      @media(max-width: 500px) {
         padding: 40px 20px 30px 20px;
      }
   }

   &__caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      >.caption__subtitle {
         max-width: 650px;
      }
   }

   &__progress {
      padding: 84px 0 0 0;
      display: flex;
      justify-content: center;
      max-width: 1000px;

      @media (max-width: 1024px) {
         flex-wrap: wrap;
         padding: 20px 0 0 0;
         justify-content: space-around;
      }

      >div {
         width: 190px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         @media (max-width: 1024px) {
            flex: 0 1 25%;
            margin: 50px !important;
         }

         @media (max-width: 662px) {
            margin: 50px !important;
         }

         @media (max-width: 600px) {
            margin: 50px 25px 50px 25px !important;
         }

         @media (max-width: 500px) {
            flex: 1 1 100% !important;
            margin: 25px !important;
         }
      }

      >div:not(:last-child) {
         margin-right: 120px;

         @media (max-width: 1200px) {
            margin-right: 45px;
         }
      }


   }

   &__progress-circle {
      position: relative;
      width: 160px;
      height: 160px;
      background: #dfe8ed;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
         content: '';
         position: absolute;
         width: 135px;
         height: 135px;
         border-radius: 50%;
         background: #FFF;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
      }

      &:after {
         content: '';
         position: absolute;
         width: 160px;
         height: 160px;
         border-radius: 50%;
         z-index: 1;

      }
   }

   &__web-design>&__progress-circle {
      &:after {
         background: conic-gradient(#30bae7 calc((90*360/100)*1deg), #dfe8ed 0deg);
      }
   }

   &__html-css>&__progress-circle {
      &:after {
         background: conic-gradient(#d74680 calc((75*360/100)*1deg), #dfe8ed 0deg);
      }
   }

   &__graphic-design>&__progress-circle {
      &:after {
         background: conic-gradient(#15c7a8 calc((70*360/100)*1deg), #dfe8ed 0deg);
      }
   }

   &__ui-ux>&__progress-circle {
      &:after {
         background: conic-gradient(#eb7d4b calc((85*360/100)*1deg), #dfe8ed 0deg);
      }
   }

   &__percent {
      z-index: 2;
      margin-left: 10px;

      >span:nth-child(1) {
         font-family: 'Titillium Web';
         font-size: 50px;
         font-weight: 300;
         text-transform: uppercase;
         letter-spacing: 0.02em;
         color: #3c4761;

      }

      >span:nth-child(2) {
         color: #3c4761;
         font-size: 32px;
      }
   }

   &__progress-title {
      font-size: 24px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #3c4761;
      text-align: center;
      margin-top: 32px;
      white-space: nowrap;

      @media (max-width: 1024px) {
         white-space: wrap;
      }
   }
}

//* ----------------------- ЗОЛОТАЯ СЕКЦИЯ -----------------------
.gold-section {
   width: 100%;
   background: #ffdd99;

   &__container {
      max-width: 1142px;
      margin: 0 auto;
      padding: 120px 20px 110px 20px;
      display: flex;
      flex-direction: column;

      @media (max-width: 767px) {
         padding: 40px 20px;
      }
   }

   &__caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .caption__subtitle {
      max-width: 560px;
   }

   &__categories {
      margin: 40px 0 60px 0;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__list {
      display: flex;
      max-width: 420px;

      >li:not(:last-child) {
         margin-right: 10px;
      }

   }

   &__link {
      padding: 8px 27px;
      background: rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #393939;
      transition: 0.2s background;

      @media (max-width: 500px) {
         padding: 5px 10px;
         font-size: 16px;
      }

      &:hover {
         background: #FFF;
      }
   }

   &__works {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1142px;

      >div {
         flex: 1 1 calc(50%-20px);
         margin-bottom: 60px;

         @media (max-width: 1150px) {
            max-width: 450px;
         }

         @media (max-width: 960px) {
            max-width: none;
            margin: 40px 0 0 0 !important;
         }

         &:first-child {
            @media (max-width: 960px) {
               margin: 0px !important;
            }
         }
      }

      >div:nth-child(odd) {
         margin-right: 20px;
      }

      >div:last-child {
         @media (max-width: 960px) {
            margin-bottom: 40px !important;
         }
      }

      >div>div {
         margin-bottom: 10px;

         @media (max-width: 960px) {
            margin-bottom: 5px;
         }
      }



      >div>div>img {
         width: 100%;
      }


   }

   &__work-title {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #393939;
      text-align: center;

      @media (max-width: 500px) {
         font-size: 16px;
      }
   }


   &__button {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
   }
}

//* ----------------------- РОЗОВАЯ СЕКЦИЯ -----------------------
.pink-section {
   width: 100%;
   background: #d74680;

   &__container {
      padding: 120px 0px;
      max-width: 1105px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @media (max-width: 1200px) {
         max-width: none;
         padding: 120px 40px;
      }

      @media (max-width: 767px) {
         padding: 40px 20px 0px 20px;
      }
   }

   &__caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 65px;

      @media (max-width: 767px) {
         margin-bottom: 35px;
      }

      >.caption__title {
         @media (max-width: 767px) {
            display: flex;
            flex-direction: column;

            >span:nth-child(1) {
               margin-bottom: 10px
            }
         }

         @media (max-width: 450px) {
            >span:nth-child(1) {
               margin-bottom: 0px
            }
         }
      }
   }


   &__reviews {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__review-container {
      flex: 1 1 50%;
      display: flex;

      @media (max-width: 1024px) {
         flex: 1 1 100%;
         justify-content: center;
         flex-direction: column;
         align-items: center;
      }

      // ?maybe change
      &:nth-child(1),
      &:nth-child(2) {
         margin-bottom: 80px;

         @media (max-width: 1024px) {
            margin-bottom: 0;
         }
      }

      // >div:not(:last-child) {
      //    margin-bottom: 100px;
      // }

   }

   &__logo {
      min-width: 96px;
      height: 96px;
      border-radius: 50%;
      background: #787878;
      margin-right: 45px;

      @media (max-width: 1024px) {
         margin-right: 0;
         margin-bottom: 20px;
         min-width: 150px;
         height: 150px;
      }
   }

   &__text {
      max-width: 360px;
      display: flex;
      flex-direction: column;

      @media (max-width: 1100px) {
         max-width: 300px;
      }

      @media (max-width: 1024px) {
         max-width: 600px;
      }
   }

   &__comment {
      font-size: 21px;
      line-height: 31px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 25px;

      @media (max-width: 1024px) {
         order: 3;
         text-align: center;
         margin: 10px 0 50px 0;
      }

      @media (max-width: 767px) {
         font-size: 16px;
      }
   }

   &__name {
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #ffffff;

      @media (max-width: 1024px) {
         order: 1;
         margin: 0 auto;
      }
   }

   &__speciality {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #ffdd99;

      @media (max-width: 1024px) {
         order: 2;
         margin: 0 auto;
      }
   }
}

//! ----------------------- СИНЯЯ СЕКЦИЯ -----------------------

.blue-section {
   width: 100%;
   background: #3c5499;

   &__container {
      max-width: 870px;
      margin: 0 auto;
      padding: 120px 0;

      @media (max-width: 1024px) {
         padding: 120px 20px;
      }

      @media (max-width: 767px) {
         padding: 50px 20px 30px 20px;
      }
   }

   &__caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 75px;

      @media (max-width: 500px) {
         margin-bottom: 40px;
      }
   }

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      >form {
         width: 100%;
      }
   }

   &__name-and-email {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      @media (max-width: 700px) {
         flex-direction: column;
         margin-bottom: 0;
      }

      &>label {
         width: 100%;
         position: relative;
         overflow: hidden;

         @media (max-width: 700px) {
            margin-bottom: 15px;
         }

         >input {
            width: 100%;
            height: 56px;
            outline: none;
            font-size: 18px;
            padding: 0 25px 0 25px;
            background: #273a71;
            border: none;
            border-radius: 5px;
            color: #FFF;
         }

         >input:invalid+.blue-section__input-text {
            display: inline;
            color: rgba(255, 255, 255, 0.734)
         }


      }

      &>label:first-child {
         margin-right: 30px;
      }
   }

   &__input-text {
      z-index: 10;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      cursor: text;
      position: absolute;

      display: none;
      color: #FFF;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      color: #ffffff;


      >span {
         font-family: Arial;
         font-size: 16px;
         color: #ff4444;
      }
   }

   &__message {
      width: 100%;
      position: relative;
      display: inline-block;
      margin-bottom: 30px;

      @media (max-width: 500px) {
         margin-bottom: 10px;
      }

      >textarea {
         width: 100%;
         height: 200px;
         background: #273a71;
         outline: none;
         border: none;
         border-radius: 5px;
         padding: 25px;
         font-size: 18px;
         line-height: 18px;
         font-weight: 400;
         color: #ffffff;

      }

      >textarea:invalid+.blue-section__input-text {
         display: inline;
         color: rgba(255, 255, 255, 0.734)
      }

      >.blue-section__input-text {
         z-index: 10;
         left: 25px;
         top: 33px;

         cursor: text;
         position: absolute;
         display: none;
         color: #FFF;
         font-size: 18px;
         line-height: 18px;
         font-weight: 400;
         color: #ffffff;

         >span {
            font-family: Arial;
            font-size: 16px;
            color: #ff4444;
         }
      }
   }

   &__button {

      >button {
         display: block;
         outline: none;
         border: none;
         cursor: pointer;
      }

   }
}

.blue-section__name {}

.blue-section__input-text {}

.blue-section__email {}

.blue-section__message {}

.blue-section__button {}

.button {}

._blue {}



//! ---------------------- НЕЗАВИСИМЫЕ БЛОКИ ---------------------

.header {
   &__container {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      position: relative;
      width: 118px;
      height: auto;

   }
}

.button {
   font-size: 18px;
   line-height: 26px;
   font-weight: 600;
   letter-spacing: 0.02em;
   color: #ffffff;
   text-transform: uppercase;
   padding: 25px 90px;
   display: flex;
   justify-content: center;
   align-items: center;

   @media screen and (max-width: 615px) {
      padding: 25px 35px;
      font-size: 16px;
   }

   @media (max-width: 500px) {
      padding: 20px 20px;
   }

}

._orange {
   background: $orange-color-btn;
   border-radius: 5px;
   border-bottom: 5px solid #c86a40;
}

._green {
   background: $green-color-btn;
   border-radius: 5px;
   border-bottom: 5px solid #14a58c;
}

._blue {
   background: $blue-color-btn;
   border-radius: 5px;
   border-bottom: 5px solid #299ec5 !important;
}

.caption {
   &__title {
      font-size: 40px;
      line-height: 29px;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: #ffffff;
      padding-bottom: 21px;
      text-align: center;

      @media (max-width: 675px) {
         font-size: 35px;
      }

      @media (max-width: 600px) {
         font-size: 30px;
      }

      @media (max-width: 450px) {
         font-size: 24px;
      }
   }

   &__line {
      width: 87px;
      height: 4px;
      opacity: 0.14;
      background-color: #000000;
   }

   &__subtitle {
      padding: 17px 20px 0 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-align: center;
   }
}

._black {
   color: #3c4761;
}

._black-line {
   background: #bdd1df;
   opacity: 0.74;
}

._gold-line {
   background-color: #e5c37f;
   opacity: 1;
}

._pink-line {
   background-color: #b93c6e;
   opacity: 1;
}

._blue-line {
   background: #273a71;
   opacity: 1;
}

.social {
   display: flex;
   justify-content: center;
   margin-top: 15px;

   >a {
      display: block;
      width: 32px;
      height: 32px;
      background: #bdd1df;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 0.2s background;

      &:hover {
         background: #FFF;

         >i {
            color: #bdd1df;
         }
      }

      >i {
         font-size: 16px;
         transition: 0.2s color;
      }
   }

   >a:not(:last-child) {
      margin-right: 10px;

   }
}

// ---------------------- БУРГЕР ---------------------
.menu {
   &__icon {
      display: none;

      @media (max-width: 767px) {
         z-index: 5;
         display: block;
         position: relative;
         width: 45px;
         height: 32.5px;
         cursor: pointer;

         & span,
         &::before,
         &::after {
            position: absolute;
            left: 0;
            height: 20%;
            width: 100%;
            transition: all ease 0.3s;
            background: #FFF;
            border-radius: 20px;
         }

         &::before,
         &::after {
            content: '';
         }

         &::before {
            top: 0px; //12.5
            transform: rotate(0deg); //45
         }

         &._active::before {
            top: 12.5px;
            transform: rotate(45deg);
         }

         &::after {
            bottom: 0px; //12.5
            transform: rotate(0deg); //-45
         }

         &._active::after {
            bottom: 12.5px;
            transform: rotate(-45deg);
         }

         & span {
            top: 50%;
            transform: scale(1) translate(0px, -50%); // 0
         }

         &._active span {
            top: 12.5px;
            transform: scale(0) translate(0px, -50%); // 0
         }

      }
   }

   &__list {
      display: flex;

      li {
         position: relative;

         &:not(:last-child) {
            margin-right: 10px;
         }

         a {
            display: block;
            padding: 5px 15px;
            border-radius: 5px;
            text-align: center;
            transition: 0.3s;

            &:hover {
               background: #643a79;
            }
         }

         @media (max-width: 767px) {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: bold;

            &:not(:last-child) {
               margin-bottom: 18.5px;
            }
         }
      }

      @media (max-width: 767px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;
      }
   }

   &__body {
      @media (max-width: 767px) {
         position: absolute;
         width: 100%;
         height: 100%;
         top: -100%;
         left: 0;
         background: rgba(34, 0, 44, 0.95);
         padding: 30px 30px 30px 30px;
         transition: top 0.3s ease 0s;
         overflow: auto;

         &._active {
            top: 0;
            z-index: 4;
         }
      }
   }
}